@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Home Page";
}

<h2>Claims</h2>
<dl>
    @foreach (var Claim in User.Claims)
    {
        <dt>@Claim.Type</dt>
        <dd>@Claim.Value</dd>
    }
</dl>

@if (User.IsInRole("Admin"))
{
    <p>Is Admin</p>
}
else
{
    <p>Not Admin</p>
}

<h2>Properties</h2>
<dl>
    @foreach (var Prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@Prop.Key</dt>
        <dd>@Prop.Value</dd>
    }
</dl>
